BAKASYNC_BASE_URL=https://bakalari.example.cz/bakaweb
BAKASYNC_CLASS_ID=1A
BAKASYNC_EXPECTED_CLASS_NAME=1.A
BAKASYNC_WEEKS=Actual,Next
BAKASYNC_GROUPS=S1,PX2
BAKASYNC_CALENDAR_ID=replace-me@group.calendar.google.com
BAKASYNC_SERVICE_ACCOUNT_KEY=./bakasync-sa.json
BAKASYNC_MERGE_GAP_MINUTES=25
BAKASYNC_INTERVAL=10min
BAKASYNC_DRY_RUN=false
BAKASYNC_DUMP_HTML_DIR=
RUST_LOG=info
